{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block title %}
    <title>{% trans "CRM | Karta" %}</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">
{% endblock css %}
{% block content %}

    <!-- Main content -->
    <section class="content">
        <div id="card_step_1">
            <div class="row" style="justify-content: center">
                <h1>
                    {% if card %}{% trans "Kartani taxrirlash" %}{% else %}{% trans "Karta qo'shish" %}{% endif %}
                </h1>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-lg-3">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5>{% trans "Karta nomi" %}</h5>
                                    </div>
                                    <div class="col-sm">
                                        <img class="float-right"
                                             src="https://cdn.paycom.uz/documentation_assets/payme_05.png"
                                             width="90"
                                             height="28"
                                             alt="Payme">
                                    </div>
                                </div>
                                <br>

                                <div class="controls">
                                    <input type="text" name="card_name" id="card_name" class="form-control"
                                           value="{% if card %}{{ card.name }}{% endif %}">
                                </div>
                            </div>
                            <h4>
                                <div class="form-group">
                                    <h5>{% trans "Karta raqami" %}</h5>
                                    <div class="controls">
                                        <input type="text" name="card_number" id="card_number" class="form-control"
                                               placeholder="0000 0000 0000 0000"
                                               value="{% if card %}{{ card.number }}{% endif %}">
                                    </div>
                                </div>
                            </h4>
                            <h4>
                                <div class="form-group">
                                    <h5>{% trans "Amal qilish muddati" %}</h5>
                                    <div class="controls">
                                        <input type="text" name="card_expire" id="card_expire" class="form-control"
                                               placeholder="12/25" value="{% if card %}{{ card.expire }}{% endif %}">
                                    </div>
                                </div>
                            </h4>

                            <button type="button" id="btn_next"
                                    class="float-right btn btn-outline mb-5">{% trans "Davom etish" %}
                            </button>
                            <br>

                            <br>
                            <br>
                            <p>
                                <b>Davom ettirish</b> tugmachasini bosish orqali siz
                                <a target="_blank" href="https://cdn.payme.uz/terms/main.html">
                                    <span style="color:#e3d400;">Paymedan foydalanish shartlariga</span>
                                </a> qo'shilasiz
                            </p>

                        </div>
                    </div> <!-- end col-->
                </div>
            </div>


        </div>
        <div id="card_step_2">
            <div class="row" style="justify-content: center">
                <h5>
                    <span id="phone_number"></span> {% trans "ga sms jo'natildi." %}
                </h5>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-lg-3">
                    <div class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <h5>
                                    <div>{% trans "Sms amal qilish muddatiga qoldi" %} <span id="sms_time"></span>
                                        <div class="float-right" id="sms_refresh">
                                            <i class="fa fa-refresh fa-2x" aria-hidden="true"></i></div>
                                    </div>
                                </h5>
                            </div>
                            <h4>
                                <div class="form-group">
                                    <h5>{% trans "Sms kod" %}</h5>
                                    <div class="controls">
                                        <input type="text" name="sms_code" id="sms_code" class="form-control">
                                    </div>
                                </div>
                            </h4>
                            <button type="button" id="btn_tasdiqlash" class="float-right btn btn-outline mb-5">
                                {% trans "Tasdiqlash" %}
                            </button>
                        </div>
                    </div>
                </div> <!-- end col-->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock content %}
{% block js %}
    <script src="{% static 'crm/main/js/vendors.min.js' %}"></script>
    <script src="{% static 'crm/assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'crm/custom_js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'crm/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js' %}"></script>

    <script src="{% static 'crm/custom_js/card_verify.js' %}"></script>

    <script src="{% static 'crm/main/js/template.js' %}"></script>
    <script>
        let mer_id = "{{ merchant_id }}";
        let url_f = "{% url 'update_or_create_card' %}";
        let url_ff = "{% url 'cabinet' %}";
        {% if paycom_is_test %}
            let paycom_is_test = true;
        {% else %}
            let paycom_is_test = false;
        {% endif %}
    </script>
{% endblock js %}