{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>{% trans "CRM | Kalendar" %}</title>
{% endblock title %}
{% block css %}
    <!-- Plugin css -->

    <link href="{% static 'ubold/assets/libs/@fullcalendar/core/main.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'ubold/assets/libs/@fullcalendar/daygrid/main.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'ubold/assets/libs/@fullcalendar/bootstrap/main.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'ubold/assets/libs/@fullcalendar/timegrid/main.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'ubold/assets/libs/@fullcalendar/list/main.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="{% static 'ubold/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="{% static 'ubold/assets/css/app.min.css' %}" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>

    <link href="{% static 'ubold/assets/css/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-dark-stylesheet" disabled/>
    <link href="{% static 'ubold/assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="app-dark-stylesheet" disabled/>

    <!-- icons -->
    <link href="{% static 'ubold/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">

    <!-- Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">

{% endblock css %}
{% block content %}
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-0">
                                    <div id="external-events" class="m-t-20"></div>
                                </div>
                                <div class="col-lg-12">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="event-modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header py-3 px-4 border-bottom-0 d-block">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h5 class="modal-title" id="modal-title">Event</h5>
                                </div>
                                <div class="modal-body p-4">
                                    <form class="needs-validation" name="event-form" id="form-event" novalidate>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">{% trans "Hodisa" %}</label>
                                                    <select class="form-control select2" id="event-user"
                                                            style="width: 100%;">
                                                        {% for u in users %}
                                                            <option value="{{ u.id }}" selected="selected">{{ u.name }}
                                                                {% if u.surname is not None %}
                                                                    {{ u.surname }}{% endif %}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">{% trans "Hodisa kiritmadingiz" %}</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">{% trans "Hodisa" %}</label>
                                                    <input class="form-control"
                                                           placeholder="{% trans "Hodisani kiriting" %}"
                                                           type="text" name="title" id="event-title" required/>
                                                    <div class="invalid-feedback">{% trans "Hodisa kiritmadingiz" %}</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">{% trans "Vaqt" %}</label>
                                                    <input class="form-control"
                                                           placeholder="{% trans "Hodisani kiriting" %}"
                                                           type="datetime-local" name="time" id="event-time" required/>
                                                    <div class="invalid-feedback">{% trans "Vaqtni kiritmadingiz" %}</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">{% trans "Muhimligi" %}</label>
                                                    <select class="form-control custom-select" name="category"
                                                            id="event-category" required>
                                                        <option value="bg-danger" selected>Danger</option>
                                                        <option value="bg-success">Success</option>
                                                        <option value="bg-primary">Primary</option>
                                                        <option value="bg-info">Info</option>
                                                        <option value="bg-dark">Dark</option>
                                                        <option value="bg-warning">Warning</option>
                                                    </select>
                                                    <div class="invalid-feedback">{% trans "Muhimlikni tanlamadingiz" %}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-danger" id="btn-delete-event">
                                                    {% trans "O'chirish" %}
                                                </button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-light mr-1" data-dismiss="modal">
                                                    {% trans "Yopish" %}
                                                </button>
                                                <button type="submit" class="btn btn-success" id="btn-save-event">
                                                    {% trans "Saqlash" %}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!-- end modal-content-->
                        </div> <!-- end modal dialog-->
                    </div>
                    <!-- end modal-->
                </div>
                <!-- end col-12 -->
            </div> <!-- end row -->

        </div> <!-- container -->

    </div>

{% endblock content %}
{% block js %}

    <script src="{% static 'ubold/assets/js/vendor.min.js' %}"></script>

    <script src="{% static 'ubold/assets/libs/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/core/main.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/bootstrap/main.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/daygrid/main.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/timegrid/main.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/list/main.min.js' %}"></script>
    <script src="{% static 'ubold/assets/libs/@fullcalendar/interaction/main.min.js' %}"></script>

    <script src="{% static 'ubold/assets/js/pages/calendar.init.js' %}"></script>
    <script src="{% static 'ubold/assets/js/app.min.js' %}"></script>

{% endblock js %}