{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}
    <title>CRM | Board</title>

{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">
    <!-- Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">
    <link rel="stylesheet" href="{% static 'crm/board/bootstrap/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/board/style.css' %}">

{% endblock css %}
{% block content %}
    <div id="dashboard_container">
        <div id="custom-content">
            <div class="main_container">
                {% for pole in lead_poles %}
                    <div class="part-group">
                        <div class="group_header">
                            <div class="group_title text-wrap">{{ pole.name }}
                                {% if user.is_director %}
                                    <a href="#"><i
                                            class="fa fa-edit fa-sm pl-10 edit_pole_pen" column_pk="{{ pole.id }}"></i></a>
                                    <a href="#"><i
                                            class="fa fa-close fa-sm pl-10 delete_pole_pen"
                                            column_pk="{{ pole.id }}"></i></a>
                                {% endif %}</div>
                            <div id="info_group_{{ pole.id }}" class="group_info"></div>
                        </div>
                        <div id="group_body_{{ pole.id }}" class="group_body">
                            {% if forloop.first %}
                                <div id='new_lead_button'>
                                    {% trans "Yangi qo'shish" %}
                                </div>
                            {% endif %}
                            {% if user.company.type == "B2B" %}
                                {% for lead in leads %}
                                    {% if lead.pole == pole %}
                                        <div id="lead_{{ lead.id }}" pk={{ lead.id }} class="lead_card"
                                             draggable="true">
                                            <div class="lead_card-header">
                                                <div class="lead_name text-super">{{ lead.name }}</div>
                                                <div class="lead_datediv text-super">
                                                    <div class="lead_date">{{ lead.date|date:'Y-m-d H:i' }}</div>
                                                    <div class="created">{{ lead.created_user.username }}</div>
                                                </div>
                                            </div>
                                            <div class="lead_card-body">
                                                <a class="lead_price text-super">{{ lead.price|intcomma }}</a>
                                                <div class="lead_note text-super">{{ lead.company|default_if_none:'' }}
                                                    <a href="{% url 'edit' %}?id={{ lead.id }}">
                                                        <i class="fa fa-info-circle"></i></a></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for lead in leads %}
                                    {% if lead.pole == pole %}
                                        <div id="lead_{{ lead.id }}" pk={{ lead.id }} class="lead_card"
                                             draggable="true">
                                            <div class="lead_card-header">
                                                <div class="lead_name text-super">{{ lead.name }}</div>
                                                <div class="lead_datediv text-super">
                                                    <div class="lead_date">{{ lead.date|date:'Y-m-d H:i' }}</div>
                                                    <div class="created">{{ lead.created_user.username }}</div>
                                                </div>
                                            </div>
                                            <div class="lead_card-body">
                                                <a class="lead_price text-super">{{ lead.price|intcomma }}</a>
                                                <div class="lead_note text-super">{{ lead.phone|default_if_none:'' }}
                                                    <a href="{% url 'edit' %}?id={{ lead.id }}"><i
                                                            class="fa fa-info-circle"></i></a></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="dashboard_footer">
            <div class="footer_group">
                <a style="font-size: 18px; margin-right: 20px; color: #fafff4; padding: 5px 30px 5px 7px;    transition: 0.3s; cursor: pointer;"
                   href="{% url 'export_excel' %}">
                    <i class="mdi mdi-file-excel mdi-24px"></i>
                    <span>{% trans "Excel export" %}</span>
                </a>
                {% if user.is_director %}
                    <div id="add_pole_btn">
                        <i class="fa fa-plus-circle fa-lg"></i>
                        <span>{% trans "Yangi bosqich qo'shish" %}</span>
                    </div>
                {% endif %}
                <div id="lead_losed_footer" class="footer_item footer_losed">{% trans "Yo'qotildi" %}</div>
                <div id="lead_woned_footer" class="footer_item footer_won">{% trans 'Yakunlandi' %}</div>

            </div>
        </div>
    </div>

    <div id="new_lead_modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="newLeadForm">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Yangi qo'shish" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="p-1">
                            <input name="form_name" type="text" placeholder="{% trans 'Nomi' %}" class="formStyle"
                                   oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        <div class="p-1">
                            <input name="form_price" type="number" placeholder="0" class="formStyle"
                                   oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        {% if user.company.type == "B2B" %}
                            <div class="p-1">
                                <input name="form_campany" type="text" placeholder="{% trans "Tashkilot:nomi" %}" class="formStyle">
                            </div>
                            <div class="p-1">
                                <input name="form_address" type="text" placeholder="{% trans "Tashkilot:manzil" %}" class="formStyle">
                            </div>
                        {% else %}
                            <div class="p-1">
                                <input name="form_phone" id="phone_tel" type="text" placeholder="{% trans "Telefon" %}"
                                       class="formStyle">
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% trans "Qo'shish" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="lead_note_modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="lead_note_form">
                    <div class="modal-header">
                        <h5 class="modal-title">Izoh</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="p-1">
                            <textarea class="formStyle" placeholder="{% trans "Izoh..." %}" name="izoh"
                                      oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                      oninput="setCustomValidity('')" required></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="lead_finished_modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="lead_finished_form">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Yakunlash" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-1">
                            <input name="price" type="number" placeholder="{% trans "Yakunlangan summa..." %}" class="formStyle"
                                   oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                   oninput="setCustomValidity('')" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="lead_lose_modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="lead_lose_form">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Yo'qotilish sababi" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-1">
                            <div class="p-1">
                            <textarea class="formStyle" placeholder="{% trans "Izoh..." %}" name="izoh"
                                      oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                      oninput="setCustomValidity('')" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="edit_lead_modal" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="edit_lead_form">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Taxrirlash" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="p-1">
                            <input name="form_name" type="text" placeholder="Nomi" class="formStyle"
                                   oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        <div class="p-1">
                            <input name="form_price" type="number" placeholder="0" class="formStyle"
                                   oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        {% if user.company.type == "B2B" %}
                            <div class="p-1">
                                <input name="form_campany" type="text" placeholder="{% trans "Tashkilot:nomi" %}" class="formStyle">
                            </div>
                            <div class="p-1">
                                <input name="form_address" type="text" placeholder="{% trans "Tashkilot:manzil" %}" class="formStyle">
                            </div>
                        {% else %}
                            <div class="p-1">
                                <input name="form_phone" id="phone_tel_edit" type="text" placeholder="{% trans "Telefon" %}"
                                       class="formStyle">
                            </div>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if user.is_director %}
        <div id="add_pole" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="add_pole_form" action="{% url 'add_pole' %}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Yangi bosqich qo'shish" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="p-1">
                                <input name="name" type="text" maxlength="60" placeholder="Nomi.." class="formStyle"
                                       oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                       oninput="setCustomValidity('')" required>
                                {% csrf_token %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">{% trans "Qo'shish" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="edit_pole" class="modal fade" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="edit_pole_form" action="{% url 'edit_pole' %}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans "Taxrirlash" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="p-1">
                                <input name="name" type="text" maxlength="60" class="formStyle"
                                       oninvalid="this.setCustomValidity(`{% trans "To'ldirilishi shart!" %}`)"
                                       oninput="setCustomValidity('')" required>
                                <input name="id" type="hidden">
                                {% csrf_token %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock content %}

{% block js %}
    <script src="{% static 'crm/main/js/vendors.min.js' %}"></script>
    <script src="{% static 'crm/assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'crm/main/js/template.js' %}"></script>
    <script src="{% static 'crm/board/bootstrap/script.js' %}"></script>
    <script src="{% static 'crm/board/jquery/script.js' %}"></script>
    <script src="{% static 'crm/custom_js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'crm/task/sweeatalert.js' %}"></script>
    <script>
        let leads_all = {{ all_leads|safe }};
        let currentUser = {{ user.id }};
        let csrf_token = '{{ csrf_token }}';
        let company_type = '{{ user.company.type }}';
        let board_columns = [
            {% for pole in lead_poles %}
                {% if not forloop.first %},{% endif %}{
            id:{{ pole.id }},
            name: "{{ pole.name|safe }}"
            }            {% endfor %}
        ]
        {% if user.is_director %}
            let check_can_delete = "{% url 'check_pole_can_delete' %}"
            let delete_pole = "{% url 'delete_pole' %}"
        {% endif %}
    </script>

    <script src="{% static 'crm/board/script1.js' %}"></script>
{% endblock js %}
