{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>CRM | Client Base</title>
{% endblock title %}
{% block css %}
    <!-- Vendors Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">

    <!-- Style-->
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">

{% endblock css %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <h4 style="color: white">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">

            <div class="col-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Hodimlar</h4>
                        <button style="float: right" type="button" class="btn btn-rounded btn-primary"
                                data-toggle="modal" data-target="#modal-center">Qo'shish
                        </button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <tbody>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Lavozim</th>
                                    {#							  <th scope="col">Taxrirlash</th>#}
                                    <th scope="col">O'chirish</th>
                                </tr>
                                </tbody>
                                <tbody>
                                {% for u in users %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ u.first_name }}</td>
                                        <td>{{ u.last_name }}</td>
                                        <td>{% if u.is_director == True %}Director{% else %}Hodim{% endif %}</td>
                                        {#                                    <td><i data-feather="edit" id="edit" data-toggle="modal" data-target="#modal-center"></i></td>#}
                                        <td onclick="deletehodim({{ u.id }})">{% if u.is_director == True %}{% else %}
                                            <i data-feather="trash-2" id="delete"></i>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal center-modal fade" id="modal-center" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hodim Qo'shish</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'addhodim' %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <label>Familiya</label>
                                <input type="text" name="fam" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Ism</label>
                                <input type="text" name="ism" class="form-control">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <label>Login</label>
                                <input type="text" name="username" class="form-control">
                            </div>
                            <div class="col-6">
                                <label>Parol</label>
                                <input type="text" name="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal">Bekor qilish
                        </button>
                        <input type="submit" class="btn btn-rounded btn-primary float-right" value="Qo'shish">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.modal -->
{% endblock content %}
{% block js %}
    <!-- Vendor JS -->
    <script src="{% static 'crm/main/js/vendors.min.js' %}"></script>
    <script src="{% static 'crm//assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'crm/main/js/template.js' %}"></script>
    <script src="{% static 'crm/task/sweeatalert.js' %}"></script>

    <script>
        function deletehodim(id) {
            swal({
                title: "Chindan ham o'chirmoqchimisiz?",
                icon: "warning",
                buttons: ["Yo'q", "Ha"],
            }).then((willDelete) => {
                if (willDelete) {
                    location.href = `{% url 'deletehodim' %}?id=${id}`
                }
            });
        }
    </script>


{% endblock js %}