{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'crm/images/algo.png' %}">
    <title>ALgoCrm - Registratsiya </title>
    <link rel="stylesheet" href="{% static 'css/vendors_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skin_color.css' %}">
</head>

<body class="hold-transition theme-primary bg-gradient-primary" style="background: #1a233a;">

<div class="container h-p100">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <h4 style="color: white">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row align-items-center justify-content-md-center h-p100">

        <div class="col-12">
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="content-top-agile p-10">
                        <h2 class="text-white">Ro'yxatdan o'tish</h2>
                    </div>
                    <div class="p-30 rounded15 box-shadowed b-1 b-dashed">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="content-top-agile p-10">
                                <h4 class="text-white">Shaxsiy ma'lumotlar</h4>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent text-white"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           name="firstname" placeholder="Ism" required value="{{ post.firstname }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent text-white"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           name="lastname" placeholder="Familiya" required value="{{ post.lastname }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent text-white"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           name="login" placeholder="Login" required value="{{ post.login }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent text-white"><i class="ti-lock"></i></span>
                                    </div>
                                    <input type="password"
                                           class="form-control pl-15 bg-transparent text-white plc-white"
                                           name="password1"
                                           placeholder="Parol" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-transparent text-white"><i class="ti-lock"></i></span>
                                    </div>
                                    <input type="password"
                                           class="form-control pl-15 bg-transparent text-white plc-white"
                                           name="password2"
                                           placeholder="Parol qayta" required>
                                </div>
                            </div>

                            <hr>

                            <div class="content-top-agile p-10">
                                <h4 class="text-white">Kompaniya ma'lumotlar</h4>
                            </div>
                            <div class="form-group">
                                <h5 class="text-white">Kompaniya nomi</h5>
                                <div class="controls">
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           required name="comp_name" value="{{ post.comp_name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="text-white">Kompaniya telefon raqami</h5>
                                <div class="controls">
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           required value="{{ post.comp_tel }}"
                                           name="comp_tel">
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="text-white">Manzil</h5>
                                <div class="controls">
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           required name="comp_manzil" value="{{ post.comp_manzil }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="text-white">Asoschisi</h5>
                                <div class="controls">
                                    <input type="text" class="form-control pl-15 bg-transparent text-white plc-white"
                                           required name="comp_creator" value="{{ post.comp_creator }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Kompaniya turi</h5>
                                <div class="controls">
                                    <select name="company_type" class="form-control">
                                        {% for company_type in company_types %}
                                            <option {% if user.company.type == company_type.0 %}selected{% endif %}
                                                    value="{{ company_type.0 }}">{{ company_type.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="text-white">Kompaniya haqida ma'lumot</h5>
                                <div class="controls">
                                    <textarea rows="6" name="comp_about" required
                                              class="form-control pl-15 bg-transparent text-white plc-white">{{ post.comp_about }}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit"
                                            class="btn btn-info btn-rounded margin-top-10">Ro'yxatdan o'tish
                                    </button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>

                        <div class="text-center">
                            <p class="mt-15 mb-0 text-white">Ro'yxatdan o'tgan bo'lsangiz<a href="{% url 'login' %}"
                                                                                            class="text-danger ml-5">
                                Kirish</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Vendor JS -->
<script src="{% static 'js/vendors.min.js' %}"></script>
<script src="{% static 'crm/assets/icons/feather-icons/feather.min.js' %}"></script>


</body>
</html>
