{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    <title>{% trans "CRM | Qo'shish" %}</title>
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crm/main/css/vendors_css.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'crm/main/css/skin_color.css' %}">
{% endblock css %}
{% block content %}
    <section class="content">
        <div class="row" style="justify-content: center">
            <div class="col-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">{% trans "Yangi link yasash" %}</h4>
                    </div>
                    <form action="{% url 'NewUrlRedirect_class' %}" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>{% trans "Nomi" %}</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>{% trans "Bog'langan url" %}</label>
                                <input type="url" name="next_url" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary float-right"
                                        style="margin: 20px">{% trans "Saqlash" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}

    <script src="{% static 'crm/main/js/vendors.min.js' %}"></script>
    <script src="{% static 'crm/assets/icons/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'crm/main/js/template.js' %}"></script>

{% endblock js %}